<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Global News Today</title>
</head>
<body>

    <%- include("partails/news_header"); %>

    <div id="heading">
        <h1>Top trading <span id="category"></span> news around the Globe</h1>
    </div>

    

    <article id="news">
        <% newsData.articles.forEach(element => { %>
            <% if (element.urlToImage) { %>
                <div class="article">
                    <div class="title">
                        <h2><%= element.title %> </h2>
                    </div>
                    <div class="img">
                        <% if (element.urlToImage) { %>
                            <img src="<%= element.urlToImage %>" alt="">
                        <% } %>
                    </div>
                    <div class="date">
                        <h6>Published at <%= element.publishedAt %></h6>
                    </div>
        
                    <div class="description">
                        <h4><%= element.description %> </h4>
                    </div>
                    <div class="author">
                        <% if (element.author) { %>
                            <h5>By <%= element.author %> </h5>
                        <% } %>
                    </div>
                    <div  class="content">
                        <p><%= element.content %>  <a href="<%= element.url %> "> Read more on <%= element.source.name %> </a></p>
                    </div>
                    <div class="source">
                        <h5>Source: <%= element.source.name %></h5>
                    </div>
                </div>
            <% } %>
        <% }) %>
        
    </article>


    <script src="/javascript/app.js"></script>
</body>
</html>